{% extends "contactos/base.html" %}

{% block title %}{{ titulo }}{% endblock %}

{% block content %}

<div class="tarjeta">
    <h2>{{ titulo }}</h2>

    <form method="post">
        {% csrf_token %}

        {{ formulario.non_field_errors }}

        {% for campo in formulario %}
            <div class="form-group">
                {{ campo.label_tag }}
                {{ campo }}
                {{ campo.errors }}
            </div>
        {% endfor %}

        <button type="submit">{{ boton }}</button>
        <a class="boton secundario" href="{% url 'lista_contactos' %}">
            Cancelar
        </a>
    </form>
</div>

{% endblock %}
